.bg-main-hero {
	background-color:$color-primary;
	background-image: url("http://www.transparenttextures.com/patterns/batthern.png");
}

.bg-well {
	background-color:#f2f2f2;
}

.bg-secondary {
	background-color:$color-secondary;
}

