.block {

}

.block-sm {
	margin-bottom:$spacing-sm;
	margin-top:$spacing-sm;
}

.block-md {
	margin-bottom:$spacing-md;
	margin-top:$spacing-md;
}

.block-lg {
	margin-bottom:$spacing-lg;
	margin-top:$spacing-lg;
}

.block-xl {
	margin-bottom:$spacing-xl;
	margin-top:$spacing-xl;
}