.hero {
	padding: 10rem 5rem 7rem 5rem;
}

.hero-title {
	color:$white;
	font-size:$font-size-display-3;
	text-align:center;
}

input.hero-input {
	padding:u(1rem);
}

.hero-input-title {
	color:$white;
}

