.hero {
	padding: 20rem 10rem;
	height:100%;
}

.hero-title {
	color:$white;
	font-size:$font-size-display-3;
	text-align:center;
}

input.hero-input {
	padding:u(1rem);
}

.hero-input-title {
	font-size:$font-size-h3;
	color:$white;
}
