

@import "vendor/bourbon/bourbon";
@import "vendor/base/base";
@import "vendor/neat/neat";
@import "mixins/u";

@import "base/variables";

@import "layout/container";
@import "layout/block";
@import "layout/row";
@import "layout/hero";
@import "layout/bg";




@import "modules/nav";


html,body {
	margin:0;
	width:100%;
	height:100%;
	background-color:$color-primary;
}