.nav {
	@include span-columns(12);
	background-color:$color-neutral-5;
	height:50px;
	border-bottom:1px solid $color-seam;

}

.nav-horizontal {
	@include clearfix();
}

.nav-item {
	padding:12px 25px;
	color:$color-neutral-5-title;
}

.nav-item-left {
	float:left;
}

.nav-item-right {
	float:right;
}

.nav-logo {
	height:26px;
}